<section id="propertysearch">
		<div class="col-md-12">
			<div class="col-md-2 col-lg-2 col-sm-6 col-xs-12 options-area">
				<div class="form-group">
						<input type="search" class="form-control" placeholder="Search Property" />
						<span class="fa fa-search"></span>
				</div>
			</div>
			<div class="col-md-2 col-lg-2 col-sm-6 col-xs-12 propertytype">
				<li>
				   <a href="#">Property Type&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down"></i></a>
				   <ul class="sub-menu">
						<div class="col-md-5">
						<li>
							<div class="checkbox-animated-inline">
								<input id="checkbox_animated_1" type="checkbox">
								<label for="checkbox_animated_1">
									<span class="check"></span>
									<span class="box"></span>
									Houses
								</label>
							</div>
						</li>
						 <li>
							<div class="checkbox-animated-inline">
								<input id="checkbox_animated_2" type="checkbox">
								<label for="checkbox_animated_2">
									<span class="check"></span>
									<span class="box"></span>
									Apartments
								</label>
							</div>
						</li>
						<li>
							<div class="checkbox-animated-inline">
								<input id="checkbox_animated_3" type="checkbox">
								<label for="checkbox_animated_3">
									<span class="check"></span>
									<span class="box"></span>
									Townhomes
								</label>
							</div>
						</li>
						<li>
							<div class="checkbox-animated-inline">
								<input id="checkbox_animated_4" type="checkbox">
								<label for="checkbox_animated_4">
									<span class="check"></span>
									<span class="box"></span>
									Lots/Lands
								</label>
							</div>
						</li>
						<li>
							<div class="checkbox-animated-inline">
								<input id="checkbox_animated_5" type="checkbox">
								<label for="checkbox_animated_5">
									<span class="check"></span>
									<span class="box"></span>
									Manufactured
								</label>
							</div>
						</li>
						 </div>
						 <div class="col-md-7">
						<li>
							<div class="checkbox-animated-inline">
								<input id="checkbox_animated_6" type="checkbox">
								<label for="checkbox_animated_6">
									<span class="check"></span>
									<span class="box"></span>
									Farms & Acreage
								</label>
							</div>
						</li>
						<li>
							<div class="checkbox-animated-inline">
								<input id="checkbox_animated_7" type="checkbox">
								<label for="checkbox_animated_7">
									<span class="check"></span>
									<span class="box"></span>
									Commercial Sale
								</label>
							</div>
						</li>
						<li>
							<div class="checkbox-animated-inline">
								<input id="checkbox_animated_8" type="checkbox">
								<label for="checkbox_animated_8">
									<span class="check"></span>
									<span class="box"></span>
									Commercial Lease
								</label>
							</div>
						</li>
						<li>
							<div class="checkbox-animated-inline">
								<input id="checkbox_animated_9" type="checkbox">
								<label for="checkbox_animated_9">
									<span class="check"></span>
									<span class="box"></span>
									Rentals
								</label>
							</div>
						</li>
						 </div>
				   </ul>
				 </li>
			</div>
			<div class="col-md-2 col-lg-2 col-sm-6 col-xs-12 propertydetails">
				<li>
				   <a href="#">Property Details&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down"></i></a>
				   <ul class="sub-menu">
						<div class="col-md-6">
						<li>
							<div class="form-group">
								<label class="col-md-5">Beds</label>
								<select class="col-md-7">
									<option value="0">0+</option>
									<option value="1">1+</option>
									<option value="2">2+</option>
									<option value="3">3+</option>
									<option value="4">4+</option>
									<option value="5">5+</option>
									<option value="6">6+</option>
									<option value="7">7+</option>
									<option value="8">8+</option>
									<option value="9">9+</option>
								</select>
							</div>
						</li>
						 <li>
							<div class="form-group sqft">
								<label class="col-md-5">Sq Ft</label>
								<input type="text" class="col-md-3" placeholder="Min" />
								<span class="col-md-1">-</span>
								<input type="text" class="col-md-3" placeholder="Max" />
							</div>
						</li>
						<li>
							<div class="form-group sqft">
								<label class="col-md-5">Year Built</label>
								<input type="text" class="col-md-3" placeholder="Min" />
								<span class="col-md-1">-</span>
								<input type="text" class="col-md-3" placeholder="Max" />
							</div>
						</li>
						 </div>
						 <div class="col-md-6">
						<li>
							<div class="form-group">
								<label class="col-md-5">Baths</label>
								<select class="col-md-7">
									<option value="0">0+</option>
									<option value="1">1+</option>
									<option value="2">2+</option>
									<option value="3">3+</option>
									<option value="4">4+</option>
									<option value="5">5+</option>
									<option value="6">6+</option>
									<option value="7">7+</option>
									<option value="8">8+</option>
									<option value="9">9+</option>
								</select>
							</div>
						</li>
						<li>
							<div class="form-group sqft">
								<label class="col-md-5">Lot Size</label>
								<input type="text" class="col-md-3" placeholder="Min" />
								<span class="col-md-1">-</span>
								<input type="text" class="col-md-3" placeholder="Max" />
							</div>
						</li>
						<li>
							<div class="form-group sqft">
								<label class="col-md-5">Keywords</label>
								<input type="text" class="col-md-7" placeholder="e.g. pool,park" />
							</div>
						</li>
						 </div>
				   </ul>
				 </li>
			</div>
			<div class="col-md-2 col-lg-2 col-sm-6 col-xs-12 pricerange">
				<li>
				   <a href="#">Price Range&nbsp;&nbsp;&nbsp;<i class="fa fa-caret-down"></i></a>
				   <ul class="sub-menu">
						<li>
							<div class="form-group col-md-6">
								<label>Min</label>
								<select class="form-control">
									<option value="0">$0+</option>
									<option value="1">$25,000+</option>
									<option value="2">$50,000+</option>
									<option value="3">$75,000+</option>
									<option value="4">$100,000+</option>
									<option value="5">$125,000+</option>
									<option value="6">$150,000+</option>
									<option value="7">$175,000+</option>
									<option value="8">$200,000+</option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label>Max</label>
								<select class="form-control">
									<option value="0">$0+</option>
									<option value="1">$25,000+</option>
									<option value="2">$50,000+</option>
									<option value="3">$75,000+</option>
									<option value="4">$100,000+</option>
									<option value="5">$125,000+</option>
									<option value="6">$150,000+</option>
									<option value="7">$175,000+</option>
									<option value="8">$200,000+</option>
								</select>
							</div>
						</li>
				   </ul>
				 </li>
			</div>
			<div class="col-md-2 col-lg-2 col-sm-6 col-xs-12 pricerange">
				<button type="submit" class="center-block apply-btn">Apply</button>
			</div>
		</div>
		<div class="col-md-12 search-content">
			<div class="col-md-8 col-lg-8 col-sm-6 col-xs-12">
				<div id="dvMap"></div>
			</div>
			<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 searchlistings scrollbar" id="style-2">
			<div class="force-overflow">
				<div class="searchlist">
					<div class="col-md-5">
						<img src="assets/img/properties/property-1.png" class="img-responsive" />
					</div>
					<div class="col-md-7">
						<p class="price">$75,000</p>
						<p>3902 Peterson AVE</p>
						<p>Austin, TX 78756</p>
						<p>1 beds, 1 baths, 1500 sqft</p>
					</div>
					<a href="#" class="pull-right">More Details&nbsp;&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
				</div>
				<div class="separator clear-left"></div>
				<div class="searchlist">
					<div class="col-md-5">
						<img src="assets/img/properties/property-2.png" class="img-responsive" />
					</div>
					<div class="col-md-7">
						<p class="price">$135,000</p>
						<p>352 Avenue AVE</p>
						<p>Austin, TX 73357</p>
						<p>3 beds, 2 baths, 2300 sqft</p>
					</div>
					<a href="#" class="pull-right">More Details&nbsp;&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
				</div>
				<div class="separator clear-left"></div>
				<div class="searchlist">
					<div class="col-md-5">
						<img src="assets/img/properties/property-3.png" class="img-responsive" />
					</div>
					<div class="col-md-7">
						<p class="price">$164,000</p>
						<p>733 Jodie</p>
						<p>Austin, TX 73357</p>
						<p>3 beds, 3 baths, 3200 sqft</p>
					</div>
					<a href="#" class="pull-right">More Details&nbsp;&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
				</div>
				<div class="separator clear-left"></div>
				<div class="searchlist">
					<div class="col-md-5">
						<img src="assets/img/properties/property-4.png" class="img-responsive" />
					</div>
					<div class="col-md-7">
						<p class="price">$200,000</p>
						<p>3304 Funston St.</p>
						<p>Austin, TX 78707</p>
						<p>6 beds, 6 baths, 3000 sqft</p>
					</div>
					<a href="#" class="pull-right">More Details&nbsp;&nbsp;<i class="fa fa-chevron-circle-right"></i></a>
				</div>
			</div>
		</div>
		</div>
	</section>