<section id="propertysearch" style="margin-bottom: 45px;margin-top: 100px">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">Data Entry Form</h3>
    </div>
  </div>
  <div class="container">
    <form id="loginform" name="propertyForm" class="form-horizontal login-padd custom-form" role="form" style="border: 1px solid rgb(204, 204, 204); border-radius: 3px; box-shadow: rgb(204, 204, 204) 0px 0px 10px;"
      autocomplete="off" novalidate="">
      <div class="row">
        <h4 class="col-md-12">Address</h4>
        <div class="col-md-6 form-group control-btn">
          <label class="control-label">Full Address :</label>
          <input type="text" class="form-control" name="address" [(ngModel)]="property.address">
        </div>
      </div>
      <div>
        <div class="row">
          <h4 class="col-md-12">Listings</h4>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Sale Price:</label>
            <input type="number" name="listingPrice" class="form-control" [(ngModel)]="property.listingPrice">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Estimate Price:</label>
            <input type="number" name="estimatePrice" class="form-control"
            [(ngModel)]="property.estimatePrice">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Rental Estimate:</label>
            <input type="number" name="rentalPrice" class="form-control" [(ngModel)]="property.rentalEstimatePrice">
          </div>
        </div>

        <div class="row">
          <h4 class="col-md-12">Property</h4>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Bed Rooms :</label>
            <input type="number" class="form-control" name="bedRoom" [(ngModel)]="property.bedRoom">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Bathsfull :</label>
            <input type="number" class="form-control" name="bathsFull"
            [(ngModel)]="property.bathsFull">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Bathshalf :</label>
            <input type="number" class="form-control" name="bathHalf"
            [(ngModel)]="property.bathHalf">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Sqft :</label>
            <input type="number" class="form-control" name="sqft" 
            [(ngModel)]='property.sqft'>
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Subtype :</label>
            <!-- <ng-select [items]="propertyType" name="group" [(ngModel)]="property.homeType"></ng-select> -->

            <select  name="homeType" [(ngModel)]="property.homeType">
              <option *ngFor="let home of propertyType" [ngValue]="home">
                  {{home.name}}
              </option>
          </select>
          
            
            <!-- <select class="form-control ">
              <option label="Apartments" value="1" selected="selected">Apartments</option>
              <option label="Condos/Coops" value="2">Condos/Coops</option>
              <option label="Town Home" value="3">Town Home</option>
              <option label="Manufactured" value="4">Manufactured</option>
              <option label="Forms &amp; Acrea" value="5">Forms &amp; Acrea</option>
              <option label="Single Family" value="5">Single Family</option>
              <option label="Multi Family" value="6">Multi Family</option>
            </select> -->
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Year Built :</label>
            <input type="number" name="yearbuilt" class="form-control"
            [(ngModel)]="property.yearbuilt">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Heating :</label>
            <input type="text" class="form-control" name="heating"
            [(ngModel)]="property.heating">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Cooling :</label>
            <input type="text" class="form-control" name="cooling" [(ngModel)]="property.cooling">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Lot Size :</label>
            <input type="number" class="form-control" name="lotSize" [(ngModel)]="property.lotSize">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Lot Description :</label>
            <input type="text" class="form-control" name="lotDescription" [(ngModel)]="property.lotDescription">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Appliances :</label>
            <input type="text" class="form-control" name="appliances" [(ngModel)]="property.appliances">
          </div>
          <!-- <div class="col-md-3 form-group control-btn">
								<label class="control-label">Flooring Size :</label>
								<input type="number"  class="form-control"  ng-model="property.floorsize" min='0'/>
							</div> -->
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Flooring :</label>
            <input type="text" class="form-control" name="flooring" [(ngModel)]="property.flooring">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Basement :</label>
            <input type="text" class="form-control" name="basement" [(ngModel)]="property.basement">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Interior Features :</label>
            <input type="text" class="form-control" name="interiorFeatures" [(ngModel)]="property.interiorFeatures">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Exterior Features :</label>
            <input type="text" class="form-control" name="exteriorFeatures" [(ngModel)]="property.exteriorFeatures">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Style :</label>
            <input type="text" class="form-control" name="style" [(ngModel)]="property.style">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Roof :</label>
            <input type="text" class="form-control" name="roof" [(ngModel)]="property.roof">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">View :</label>
            <input type="text" class="form-control" name="view" [(ngModel)]="property.view">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Stories :</label>
            <input type="number" class="form-control" name="stories" [(ngModel)]="property.stories">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Fire Places :</label>
            <input type="number" class="form-control" name="firePlace" [(ngModel)]="property.firePlace">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Pool :</label>
            <input type="text" class="form-control" name="pool" [(ngModel)]="property.pool">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Water :</label>
            <input type="text" class="form-control" name="water" [(ngModel)]="property.water">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Foundation :</label>
            <input type="text" class="form-control" name="foundation" [(ngModel)]="property.foundation">
          </div>

        </div>
        <div class="row">
          <h4 class="col-md-12">Description</h4>
          <div class="col-md-6 form-group control-btn">
            <label class="control-label">Description :</label>
            <textarea class="form-control" role="15" name="description" [(ngModel)]="property.description"></textarea>
          </div> 
        </div>
        
        <div class="row">
          <h4 class="col-md-12">Parking</h4>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Garage Size :</label>
            <input type="number" class="form-control" name="garage" [(ngModel)]="property.garage">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Garage Features :</label>
            <input type="text" class="form-control" name="garageFeatures" [(ngModel)]="property.garageFeatures">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Garage Space :</label>
            <input type="number" class="form-control" name="garageSpace" [(ngModel)]="property.garageSpace">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Description :</label>
            <input type="text" class="form-control" name="garageDescription" [(ngModel)]="property.garageDescription">
          </div>
        </div>
        <div class="row">
          <h4 class="col-md-12">MLS</h4>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">MLSID :</label>
            <input type="number" class="form-control" name="mlsId" [(ngModel)]="property.mlsId">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Status :</label>
            <select class="form-control">
              <option label="Active" value="1" selected="selected">Active</option>
              <option label="Inactive" value="2">Inactive</option>
            </select>
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Days On Market :</label>
            <input type="number" class="form-control" name="daysOnMarket" [(ngModel)]="property.daysOnMarket">
          </div>
        </div>
        <div class="row">
          <h4 class="col-md-12">School</h4>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Elementary School :</label>
            <input type="text" value="" class="form-control" name="elementartSchool" [(ngModel)]="property.elementartSchool">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">Middle School :</label>
            <input type="text" value="" class="form-control" name="middleSchool" [(ngModel)]="property.middleSchool">
          </div>
          <div class="col-md-3 form-group control-btn">
            <label class="control-label">High School :</label>
            <input type="text" value="" class="form-control"[(ngModel)]="property.highSchool" name="highSchool" >
          </div>

          <div class="col-md-3 form-group control-btn">
            <label class="control-label">District :</label>
            <input type="text" value="" class="form-control" name="district" [(ngModel)]="property.district">
          </div>
        </div>
        <!-- <div class="row" style="display:none">
								<h4 class="col-md-12">GEO</h4>
								<div class="col-md-2 form-group control-btn">
									<label class="control-label">County :</label>
									<input type="text" class="form-control" ng-model="property.county"/>
								</div>
								<div class="col-md-2 form-group control-btn">
									<label class="control-label">Latitude :</label>
									<input type="text"  restrict-input="^[0-9-]*$" class="form-control" ng-model="property.lat"/>
								</div>
								<div class="col-md-2 form-group control-btn">
									<label class="control-label">Longitude :</label>
									<input type="text" class="form-control" ng-model="property.lang"/>
								</div>
								<div class="col-md-3 form-group control-btn">
									<label class="control-label">Market Area :</label>
									<input type="text" class="form-control" ng-model="property.marketarea"/>
								</div>
								<div class="col-md-3 form-group control-btn">
									<label class="control-label">Directions :</label>
									<input type="text" class="form-control" ng-model="property.directions"/>
								</div>
						</div> -->


        <div class="row">
          <div class="col-md-4 nopaddingleft nopaddingright">
            <h4 class="col-md-12">Type of Listing</h4>
            <div class="col-md-12 form-group control-btn">
              <div>
                <div class="checkbox-animated-inline">
                  <input id="checkbox_animated_200" type="checkbox" name="ForeClousre" [(ngModel)]="property.foreClousre">
                  <label for="checkbox_animated_200">
                    <span class="check"></span>
                    <span class="box"></span>
                    ForeClousre
                  </label>
                </div>
                <div class="checkbox-animated-inline">
                  <input id="checkbox_animated_201" type="checkbox" name="commingSoon" [(ngModel)]="property.commingSoon">
                  <label for="checkbox_animated_201">
                    <span class="check"></span>
                    <span class="box"></span>
                    Coming Soon
                  </label>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- <div class="row">
								<div class="col-md-8">
									<h4>Association</h4>
									<div class="col-md-6 form-group control-btn">
										<label class="control-label">Association :</label>
										<input type="text" class="form-control" ng-model="property.associationAmenities"/>
									</div>
								</div>
								<div class="col-md-4">
									<h4 class="col-md-4">Value Aders</h4>
									<div class="col-md-4 form-group control-btn">
										<label class="control-label">Value Aders :</label>
									<div  ng-dropdown-multiselect="" options="example14data" selected-model="example14model" checkboxes="true" extra-settings="example14settings">
									</div>
									</div>
								</div>
						</div> -->
        <div class="row">
          <div class="col-md-3">
            <h4 class="col-md-12 nopaddingleft">Association</h4>
            <div class="control-btn">
              <label class="control-label">Association :</label>
              <input type="text" class="form-control" name="association" [(ngModel)]="property.association">
            </div>
          </div>
          <div class="col-md-3">
            <h4 class="col-md-12 nopaddingleft">Last Modified Date</h4>
            <div class="control-btn">
              <label class="control-label">Date :</label>

              <input type="text" class="form-control" type="date" name="lastModified" [(ngModel)]="property.lastModified"><!-- ngIf: isOpen -->
            </div>


          </div>
        </div>
        <div class="col-md-6">
          <h4 class="col-md-12">Tax</h4>
          <div class="col-md-6 form-group control-btn">
            <label class="control-label">Tax Year :</label>
            <input type="number" class="form-control" name="taxyear" [(ngModel)]="property.taxyear">
          </div>
          <div class="col-md-6 form-group control-btn">
            <label class="control-label">Tax Annual Amount :</label>
            <input type="number" class="form-control" name="taxannualamount" [(ngModel)]="property.taxamount">
          </div>
        </div>
      </div>
      <div class="row">
        <h4 class="col-md-12">Listing Provided By</h4>
        <div class="btn-group btn-group-vertical radio-cust" data-toggle="buttons" >
          <div class="col-xs-4 nopaddingleft">
            <label class="btn out-border">
              <input type="radio" class="out-border" name="gender1" [(ngModel)]="property.providedBy" [value]="byAgent"> <span>By Agent</span>
            </label>
          </div>
          <div class="col-xs-4">
            <label class="btn out-border">
              <input type="radio" name="gender1" class="out-border" [(ngModel)]="property.providedBy" [value]="byOwner"><span> By Owner</span>
            </label>
          </div>
          <div class="col-xs-4">
            <label class="btn out-border">
              <input type="radio" name="gender1" class="out-border" [value]="byBuilder" [(ngModel)]="property.providedBy"><span> By Builder</span>
            </label>
          </div>
          {{property.providedBy}}
        </div>
      </div>
      <div class="row" *ngIf="property.providedBy=='byAgent'">
        <h4 class="col-md-12">Sale By Agent</h4>

        <div class="col-md-3 form-group control-btn">
          <label class="control-label">Full Name :</label>
          <input type="text" class="form-control">
        </div>

        <div class="col-md-3 form-group control-btn">
          <label class="control-label">License :</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-3 form-group control-btn">
          <label class="control-label">Phone :</label>
          <input type="text" class="form-control">
        </div>

      </div>
      <div  *ngIf="property.providedBy=='byOwner'">
        <h4 class="col-md-12">Sale By Owner</h4>
        <div class="col-md-3 form-group control-btn">
          <label class="control-label">First Name :</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-3 form-group control-btn">
          <label class="control-label">Phone :</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row" *ngIf="property.providedBy=='byBuilder'">
        <h4 class="col-md-12">Sale By Builder</h4>
        <div class="col-md-3 form-group control-btn">
          <label class="control-label">First Name :</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-md-3 form-group control-btn">
          <label class="control-label">Phone :</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <button type="button"  class="btn log-btn rating-btn" (click)="saveproperty()">Submit</button>
        </div>
      </div>
    </form>
  </div>
</section>